@media (max-width: 1260px) {
   .reviews-slider .slick-list {
      margin: 0;
   }
   .reviews-slider .slick-slide {
      margin: 0;
   }
   .reviews-box {
      box-shadow: none;
   }
}

@media (max-width: 1160px) {
   .price__items {
      flex-wrap: wrap;
   }
   .price__item {
      max-width: 48%;
      margin-bottom: 50px;
   }
   .price__item-number {
      margin: 0 auto;
      right: 0;
      left: 0;
   }
}

@media (max-width: 1110px) {
   .top-info {
      max-width: 425px;
   }
   .reviews-slider {
      margin-top: 60px;
   }
   .reviews-box {
      margin: 0 auto;
      max-width: 530px;
   }
   .customers-logo {
      flex-wrap: wrap;
   }
   .price {
      padding: 50px 0 80px;
   }
   .footer__inner {
      flex-wrap: wrap;
   }
   .footer-col__logo {
      width: 100%;
      margin-bottom: 30px;
   }
}

@media (max-width: 992px) {
   .menu__list {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      padding-top: 30px;
      text-align: center;
      border-bottom: 1px solid #000;
      background-color: #fff;
      z-index: 5;
   }
   .menu__list li {
      margin-left: 0;
   }
   .menu__list a {
      display: block;
      padding: 10px 0;
      border-top: 1px solid #000;
   }
   .btn__menu {
      display: block;
   }
}

@media (max-width: 985px) {
   .top-images__box img {
      width: 300px;
   }
   .top-images__circle {
      width: 170px;
      height: 170px;
      right: -60px;
      top: -30px;
   }
}

@media (max-width: 885px) {
   .top-info {
      max-width: 320px;
   }
}

@media (max-width: 750px) {
   .top__inner {
      flex-wrap: wrap;
      justify-content: center;
   }
   .top-info {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 75px;
   }
   .top-images__box img {
      width: 385px;
   }
   .price, .top, .reviews {
      padding: 50px 0 80px;
   }
   .price__item {
      max-width: 100%;
   }
   .footer-form {
      width: 100%;
      margin-top: 30px;
   }
   .footer__inner {
      justify-content: flex-start;
   }
   .footer-menu {
      width: 210px;
   }
}

@media (max-width: 610px) {
   .customers-logo {
      height: 305px;
   }
}

@media (max-width: 580px) {
   .reviews-box {
      display: block;
   }
   .reviews-box__images {
      width: 100%;
      min-height: 160px;
   }
   .reviews-box__content {
      width: 100%;
      min-height: 260px;
      padding: 20px;
   }
   .reviews-slider .slick-slide {
      padding-bottom: 30px;
   }
   .top-images__circle {
      right: 6px;
      top: -15px;
   }
}

@media (max-width: 420px) {
   .top-info__title {
      font-size: 40px;
      line-height: 42px;
   }
   .top-images__circle {
      right: 6px;
      top: -15px;
   }
   .top-images__box img {
      width: 300px;
   }
}

@media (max-width: 460px) {
   .top-info__title {
      font-size: 40px;
      line-height: 42px;
   }
   .top-images__circle {
      right: 6px;
      top: -15px;
   }
   .title {
      font-size: 36px;
      line-height: 40px;
   }
   .price__descr {
      margin: 35px auto 50px;
   }
   .price__item {
      padding: 0 20px 60px;
   }
   .customers-logo {
      flex-wrap: wrap;
      height: 495px;
   }
   .customers-logo img {
      width: 80%;
   }
   .footer-menu {
      width: 165px;
   }
}

@media (max-width: 380px) {
   .footer-menu {
      margin-bottom: 30px;
      width: 100%;
   }
   .footer-form {
      margin-top: 0;
   }
}

/* ! */

@media (min-width: 992px) {
   .menu__list {
      display: flex !important;
   }
}